*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 30px;
    margin-top: 13%;
    text-transform: uppercase;
    font-family: monospace;
}
.container{
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.sub-container{
    height: 500px;
    background-color: transparent;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 6px 6px 13px #b9b5b4, 6px 6px 13px rgba(0,0,0,.16);
}
.input-display{
    height: 150px;

}
.input-display input{
    padding: 10px;
    margin: 10px 10px 10px 13px;
    width: 94%;
    height: 120px;
    box-shadow:  inset -6px -6px 13px #ffffff, inset 6px 6px 13px rgb(181 178 170);
    border: none;
    outline: none;
    font-size: 30px;
    background-color: transparent;
}

button {
    padding: 10px 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

.btns{ 
    height: 350px; 
    width: 400px; 
    padding: 13px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 
.btn{
    width: 89px;
    height: 64px;
    font-size: 24px;
    font-family: math;
     border: none; 
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: transparent;
}

.btnzero{
    width: 184px;
} 

.btn1:hover {
    background-color: #4CAF50;
    color: white;
}
.btn2:hover {
    background-color: #008CBA;
    color: white;
}
.btn3:hover {
    background-color: #f44336;
    color: white;
}
  
.btn4:hover {background-color: #009688;
}

.btn5:hover {
    background-color: #555555;
    color: white;
}
.btn6:hover{
    background-color: #f7382b;
    color: white;
}
.btn7:hover{
    background-color: #ce1864;
    color: white;
}
.btn8:hover{
    background-color: #d19018;
    color: white;
}
